body {
      background: "imagenes/fondo.jpg";
      color: white;
      margin-top: 10px;
      margin-bottom: 0;
      margin-left: 100px;
      margin-right: ;
     }


h2 {
      color: orange;
      font-size: 30px;
      font-style: arial;
      }
p {
      color: gray;
      font-size: 22px;
      face: Comic Sans;
      }
.parrafo{
      color: white;
      width: 1000px;
      height: 1000px;
      border: 0px solid #ccc;
      padding: 7px;
      text-align: justify;
      text-decoration:normal;
       
      }
img{
      width:300px:
      height:#;
      border: 3px solid green;
      padding: 5px;
      display:inline-block;
 }